@import '~antd/dist/antd.css';

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body * {
    font-size: 12px !important;
    line-height: 20px !important;
    /* line-height: 20px; */
    font-family: 'Inter';
}

#react-page {
    width: 100%;
    height: 100%;
}

/* 样式覆盖 */
.Config .ant-tabs-nav {
    min-width: 0 !important;
}

.Config .ant-tabs-nav .ant-tabs-tab {
    padding: 4px !important;
    border-left: none;
    border-radius: 0 !important;
}

.Config .ant-tabs-nav .ant-tabs-tab .ant-tabs-tab-btn {
    display: flex;
}

.ant-tabs-tab .anticon {
    margin-right: 0;
}

.Config .ant-typography .ant-space-item:first-child {
    line-height: 20px;
    font-size: 20px;
    height: 20px;
    display: flex;
    align-items: center;
}

.Config .ant-tabs-content-holder {
    overflow-y: scroll !important;
    padding: 0;
}

.Gallery .ant-form-item-label > label {
    font-size: 12px !important;
    line-height: 20px !important;
}

.Gallery .ant-form-item {
    margin-right: 8px !important;
}

.Gallery .ant-tag {
    margin-right: 0;
}

.Handle__left {
    width: 1px;
    height: 100%;
    left: 50%;
}

.Handle__right {
    width: 1px;
    height: 100%;
    left: 50%;
}

.Handle__top {
    width: 100%;
    height: 1px;
    top: 50%;
}

.Handle__bottom {
    width: 100%;
    height: 1px;
    top: 50%;
}

.Handle__topLeft {
    width: 8px;
    height: 8px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.Handle__topRight {
    width: 8px;
    height: 8px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.Handle__bottomLeft {
    width: 8px;
    height: 8px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.Handle__bottomRight {
    width: 8px;
    height: 8px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.example {
    cursor: pointer;
}

.example__mask {
    opacity: 0;
    transition: all 0.2s;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    font-size: 20px !important;
}

.example:hover .example__mask {
    opacity: 1;
}
