@import '~antd/dist/antd.css';

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body * {
    font-size: 12px !important;
    line-height: 20px !important;
    /* line-height: 20px; */
    font-family: 'Inter';
}

#react-page {
    width: 100%;
    height: 100%;
}

/* 样式覆盖 */
.Config .ant-tabs-nav {
    min-width: 0 !important;
}

.Config .ant-tabs-nav .ant-tabs-tab {
    padding: 4px !important;
    border-left: none;
    border-radius: 0 !important;
}

.Config .ant-tabs-nav .ant-tabs-tab .ant-tabs-tab-btn {
    display: flex;
}

.ant-tabs-tab .anticon {
    margin-right: 0;
}

.Config .ant-typography .ant-space-item:first-child {
    line-height: 20px;
    font-size: 20px;
    height: 20px;
    display: flex;
    align-items: center;
}

.Config .ant-tabs-content-holder {
    overflow: scroll !important;
}

.Gallery .ant-form-item-label > label {
    font-size: 12px !important;
    line-height: 20px !important;
}

.Gallery .ant-form-item {
    margin-right: 8px !important;
}

.left-handle,
.right-handle,
.top-handle,
.bottom-handle {
    opacity: 0;
    transition: opacity 0.6s;
}

/* .left-handle.on {
    max-width: 4px;
    max-height: 24px;
    border-radius: 100px;
    border: 1px solid red;
    background: pink;
    opacity: 1;
    top: 50% !important;
    transform: translateY(-50%);
}

.right-handle.on {
    max-width: 4px;
    max-height: 20px;
    border-radius: 100px;
    border: 1px solid red;
    background: pink;
    opacity: 1;
    top: 50% !important;
    transform: translateY(-50%);
}

.top-handle.on {
    max-width: 20px;
    max-height: 4px;
    border-radius: 100px;
    border: 1px solid red;
    background: pink;
    opacity: 1;
    left: 50% !important;
    transform: translateX(-50%);
}

.bottom-handle.on {
    max-width: 20px;
    max-height: 4px;
    border-radius: 100px;
    border: 1px solid red;
    background: pink;
    opacity: 1;
    left: 50% !important;
    transform: translateX(-50%);
} */
