@import '~antd/dist/antd.css';

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body * {
    /* font-size: 12px; */
    /* line-height: 20px; */
    font-family: 'Inter';
}

#react-page {
    width: 100%;
    height: 100%;
}
